############################
# NODE / FRONTEND
############################
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################
# .NET BACKEND
############################
bin/
obj/
*.user
*.lock.json
*.vs/
*.suo
*.userprefs

############################
# DATABASE
############################
*.db
*.sqlite
*.sqlite3

############################
# ENV FILES
############################
.env
.env.*

############################
# OS FILES
############################
.DS_Store
Thumbs.db

############################
# IDE
############################
.vscode/*
!.vscode/extensions.json
.idea/

############################
# LOGS
############################
logs/
*.log

############################
# BUILD / TEMP
############################
*.tmp
*.temp